:root {
    --colorviolet-color: #9356DC;
    --colorbleufoncé-color: #003A68;
    --colorbleuclair-color: #89C8FA;
    --colorvertfoncé-color: #008766;
    --colorvertclair-color: #99E2D0;
    --colorgrey2-color: #EAEAEA;
    --colorbouttoncommander-background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    --colorbouttoncommander-background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    --margin0-margin: 0;
    --margintextecarte-margin: 10px 0 10px 10px;
    --marginh1titreohmyfood-margin: 10px 0 10px 0;
    --fontfamillyohmyfood-font-family: 'Shrikhand', cursive;
    --bordertest-border: 2px solid black;
}
body {
    margin: var(--margin0-margin);
    font-family: 'Roboto', sans-serif;
}
                                    /*HEADER*/
p {
    margin: var(--margin0-margin);
}
h1, h2, h3, h4, h5, h6 {
    margin: var(--margin0-margin);
}

.h1titreohmyfood {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.diviconeparisbelleville {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--colorgrey2-color);
    height: 40px;
    background: linear-gradient(180deg, rgb(147, 147, 147) 0%, #e3e1e1 20%);
}
.parisbelleville {
    margin-left: 15px;
}
/*Réservez le menu qui vous convient*/
.blocbackgroundh2 {
    background: #D2D2D2;
    height: 260px;
}
.divbackgroundh2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 230px;
    text-align: center;
}
.Explorernosrestaurants {
    color: white;
    text-align: center;
    background: var(--colorbouttoncommander-background);
    border: var(--colorviolet-color);
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
}
/*FONCTIONNEMENT*/

.sectiontoutleblocfonctionnement {
    display: flex;
    justify-content: space-around;
    height: 300px;
}    
.bloctoutleblocfonctionnement {
    width: 90%;
    margin: auto;
}
.blocles3choixmenus {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    height: 200px;
}
.Choississezunrestaurant, .Composezvotremenu, .Degustezaurestaurant {
    display: flex;
    align-items: center;
    background: #F7F7F7;
    width: 90%;
    margin: auto;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.Choississezunrestaurant:hover, .Composezvotremenu:hover, .Degustezaurestaurant:hover {
    background: #F5EDFF;
    cursor: pointer;
}
.numero1, .numero2, .numero3 {
    background: var(--colorviolet-color);
    border-radius: 50px;
    width: 6%;
    text-align: center;
    color: white;
    position: relative;
    right: 5px;
}
#iconefonctionnement {
    margin: 0 10px 0 5px;
}
#iconefonctionnement:hover {
    color: var(--colorviolet-color);
}
/*RESTAURANTS*/
.sectiontitrerestaurants {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #D2D2D2;
    height: 1380px;
}
.blocrestaurantsentreeplatsdesserts {
    width: 80%;
    margin: auto;
}                            
.blocles4images {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.divtitreRestaurants {
    height: 50px;
}
.divlapalettedugout, .divlanoteenchantee, .divalafrançaise, .divLedelicedessens {
    background: white;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
    background: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.divLedelicedessens {
    margin-bottom: 30px;
}
.imagelapalettedugout, .imagelanoteenchantee, .imagealafrançaise, .imageLedelicedessens {
    width: 100%;
    height: 231px;
    border-radius: 20px 20px 0 0;
}
.detailiconecoeur {
   display: flex;
   justify-content: space-between;
   width: 95%;
   margin: auto;
   margin: var(--margintextecarte-margin);

}
#iconecoeur, #iconecoeur, #iconecoeur, #iconecoeur {
    display: flex;
    align-items: center;
    width: 10%;
    cursor: pointer;
}
#iconecoeur:active {
   color: var(--colorviolet-color);
}
/*FOOTER*/
.blocfooter {
    background: #353535;
    padding-top: 1px;
    width: 100%;
    height: 170px;
}
.divfooter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: 150px;
    margin: auto;
}
.texteProposerunrestaurant {
    margin-left: 18px;
}
.texteDevenirpartenaire {
    margin-left: 12px;
}
.iconeetProposerunrestaurant {
  display: flex;
}
.iconeetDevinirpartenaire {
 display: flex;   
}
footer p  {
    color: white;
    margin: var(--margin0-margin);
}
footer i, .titredufooter {
    color: white;
    font-family: var(--fontfamillyohmyfood-font-family);
}   
                            /*MOBILE LA PALETTE DU GOUT
                            HEADER*/

.blocflechedegaucheretourettitre1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: var(--bordertest-border);
}

#flechedegaucheretour1 {
    color: black;
    border: var(--bordertest-border);
    text-align: left;
}
#flechedegaucheretour1:hover {
    color: var(--colorviolet-color);
}
.divtitreohmyfood {
    display: flex;
    justify-content: center;
    border: var(--bordertest-border);
}                        
.titreohmyfoodheader1 {
    display: flex;
    justify-content: center;
}
.imageprincipale1 {
    width: 100%;
    height: 275px;
    object-fit: cover;
}
/*RESTAURANTS*/

.sectiontoutleblocrestaurants1 {
    background: #F7F7F7;
    border-radius: 30px 30px 0 0;
    width: 100%;
}
.blockcolorsection1 {
    position: absolut;
}
.bloctoutleblocrestaurants1 {
    width: 90%;
    margin: auto;
}
.divlapalettedugout1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    font-family: var(--fontfamillyohmyfood-font-family);
}
#coeurlapalettedugout1:active {
    color: var(--colorviolet-color);
}
.blocles3entrees1, .blocles3plats1, .blocles3desserts1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 230px;
}
.blocles4entrees1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
}
.entrees1, .PLATS1, .DESSERTS1 {
    border-bottom: 3px solid var(--colorvertclair-color);
    width: 10%;
    padding-bottom: 5px;
}
.diventrees1, .divplats1, .divdesserts1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15.0431px;
    height: 50px;
}
.detailentrees1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}
.detailentrees1:hover {
    color: #008766;
    background: salmon;
}

.divCommander1 {
   display: flex;
   justify-content: center;
   background: #F7F7F7;
}
.Commander1 {
    background: var(--colorviolet-color);
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 35%;
    margin: 20px 0 30px 0;
    cursor: pointer;
    background: var(--colorbouttoncommander-background);
    border: var(--colorbouttoncommander-background)
}

/*FOOTER*/
.blocfooter1 {
    background: #353535;
    padding-top: 1px;
    width: 100%;
    height: 170px;
}
.divfooter1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: 150px;
    margin: auto;
}
.texteProposerunrestaurant1 {
    margin-left: 18px;
}
.texteDevenirpartenaire1 {
    margin-left: 10px;
}
.iconeetProposerunrestaurant1 {
  display: flex;
}
.iconeDevinirpartenaire1 {
 display: flex;   
}
.imagedufooter1 {
    color: white;
    font-family: var(--fontfamillyohmyfood-font-family);
}   
 

                                /*VERSION DESKTOP
                                    HEADER*/
@media screen and (min-width: 992px) {
body {
    margin: var(--margin0-margin);
    font-family: 'Roboto', sans-serif;
}

div p {
    margin: var(--margin0-margin);
}
h1, h2, h3, h4, h5, h6 {
    margin: var(--margin0-margin);
}
/*HEADER*/
.blocflechedegaucheretourettitre1 {
    display: flex;

}
.diviconeparisbelleville {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EAEAEA;
    height: 50px;
    background: linear-gradient(180deg, rgb(147, 147, 147) 0%, #e3e1e1 20%);
}
.parisbelleville {
    margin-left: 10px;
}
/*Réservez le menu qui vous convient*/
.blocbackgroundh2 {
    display: flex;
    justify-content: space-around;
    background: #D2D2D2;
}
.divbackgroundh2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.titreh2 br {
    display: none;
}
.textesousleh2 br {
    display: none;
}
.divExplorernosrestaurants {
    display: flex;
    justify-content: center;
    margin: 0;
}

.Explorernosrestaurants {
    display: flex;
    justify-content: center;
    background: var(--colorbouttoncommander-background);
    padding: 15px;
    border-radius: 25px;
    border: var(--colorviolet-color);
    cursor: pointer;
    color: white;
}
/*FONCTIONNEMENT*/
.sectiontoutleblocfonctionnement {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}
.bloctoutleblocfonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
}
.blocles3choixmenus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}
.divChoississezunrestaurant, .divComposezvotremenu, .divDegustezaurestaurant {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    cursor: pointer;
    height: 50px;
}

.divChoississezunrestaurant:hover, .divComposezvotremenu:hover, .divDegustezaurestaurant:hover {
    background: #F5EDFF;
}
.Choississezunrestaurant, .Composezvotremenu, .Degustezaurestaurant {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    margin-right: auto;
}
.numero1, .numero2, .numero3 {
    color: white;
    background: var(--colorviolet-color);
    border-radius: 10px;
    width: 5%;
    text-align: center;
}
/*RESTAURANTS*/
.sectiontitrerestaurants {
    background: #D2D2D2;
    height: 500px;
}
.blocrestaurantsentreeplatsdesserts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
}
.blocles4images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 120%;
}
.divlapalettedugout, .divlanoteenchantee, .divalafrançaise, .divLedelicedessens {
    background: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 20%;
    height: 280px;
}

.imagelapalettedugout, .imagelanoteenchantee, .imagealafrançaise, .imageLedelicedessens {
    width: 100%;
    height: 231px;
}
.detailiconecoeur {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
/*FOOTER*/
.blocfooter {
    display: flex;
    width: 100%;
    background: #353535;
    height: 100px;
}
.divfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin-left: 25%;
    height: 50px;
}
.titredufooter {
    color: white;
}
.texteProposerunrestaurant {
    margin-left: 18px;
}
.texteDevenirpartenaire {
    margin-left: 12px;
}
.iconeetProposerunrestaurant, .iconeetDevinirpartenaire, .mentionlegale, .Contact {
    display: flex;
    align-items: center;
    color: white;
}
                                    /*VERSION DESKTOP-2 LA PALETTE DU GOUT*/
/*HEADER*/
a {
    text-decoration: none;
}
.blocflechedegaucheretourettitre1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    height: 100px;
    border: var(--bordertest-border);
}
#flechedegaucheretour1:hover {
    color: var(--colorviolet-color);
}
.imageLapalettedugout1 {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/*RESTAURANTS*/
.sectiontoutleblocrestaurants1 {
    display: flex;
    justify-content: center;
}
.blockcolorsection1 {
    background: #F7F7F7;
    width: 70%;
    margin: auto;
    border-radius: 30px 30px 0 0;
    position: relative;
}
.bloctoutleblocrestaurants1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #F7F7F7;
    width: 50%;
    height: 800px;
    margin: auto;
}
.divlapalettedugout1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fontfamillyohmyfood-font-family);
    margin-top: 20px;
}
.lapalettedugout1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}
.blocles3entrees1, .blocles3plats1, .blocles3desserts1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 220px;
}
.entrees1, .PLATS1, .DESSERTS1 {
border-bottom: 3px solid #99E2D0;
width: 8%;
}
.diventrees1, .divplats1, .divdesserts1 {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15.0431px;
}
.detailentrees1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 60px;
    margin: auto;
}
.bloccommander {
    height: 100px;
}
.divCommander1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.Commander1 {
    background: var(--colorbouttoncommander-background);
    color: white;
    width: 20%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
    border: var(--colorbouttoncommander-background);
    padding: 10px;
}
/*FOOTER*/
.blocfooter1 {
    background: #353535;
    display: flex;
    justify-content: center;
}
.divfooter1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
}
.iconeetProposerunrestaurant1, .iconeDevinirpartenaire1 {
    display: flex;
    align-items: center;
}
}