:root {
    --colorviolet-color: #9356DC;
    --colorbleufoncé-color: #003A68;
    --colorbleuclair-color: #89C8FA;
    --colorvertfoncé-color: #008766;
    --colorvertclair-color: #99E2D0;
    --colorgrey2-color: #EAEAEA;
    --colorbouttoncommander-background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    --colorhovercommander-background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    --boxshadowboutton-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    --margin0-margin: 0;
    --margintextecarte-margin: 10px 0 10px 10px;
    --marginh1titreohmyfood-margin: 10px 0 10px 0;
    --fontfamillyohmyfood-font-family: 'Shrikhand', cursive;
    --bordertest-border: 2px solid black;
}
body {
    margin: var(--margin0-margin);
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
                                    /*HEADER*/
p {
    margin: var(--margin0-margin);
}
.h1titreohmyfood {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.diviconeparisbelleville {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--colorgrey2-color);
    height: 40px;
    background: linear-gradient(180deg, rgb(147, 147, 147) 0%, #e3e1e1 20%);
}
.parisbelleville {
    margin-left: 15px;
}
/*Réservez le menu qui vous convient*/
.blocbackgroundh2 {
    background: #D2D2D2;
    height: 260px;
}
.divbackgroundh2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 230px;
    text-align: center;
}
.Explorernosrestaurants {
    color: white;
    text-align: center;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    border: var(--colorviolet-color);
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
}
.Explorernosrestaurants:hover {
    background: var(--colorhovercommander-background);
    box-shadow: var(--boxshadowboutton-box-shadow)
}
/*FONCTIONNEMENT*/
.sectiontoutleblocfonctionnement {
    display: flex;
    justify-content: space-around;
    height: 300px;
}    
.bloctoutleblocfonctionnement {
    width: 80%;
    margin: auto;
}
.blocles3choixmenus {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    width: 100%;
    height: 200px;
}
.divChoississez, .divComposez, .divDegustez {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background: #F7F7F7;
}
.divChoississez:hover, .divComposez:hover, .divDegustez:hover {
    background: #F5EDFF;
    cursor: pointer;
}
.divnumero {
    background: var(--colorviolet-color);
    border-radius: 50px;
    text-align: center;
    color: white;
    position: relative;
    right: 10px;
    width: 6%;
    background: var(--colorviolet-color);
}
#iconefonctionnement {
    margin: 0 10px 0 5px;
}
#iconefonctionnement:hover {
    color: var(--colorviolet-color);
}
/*RESTAURANTS*/

.sectiontitrerestaurants {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #D2D2D2;
    height: 1530px;
}
.blocrestaurantsentreeplatsdesserts {
    width: 80%;
    margin: auto;
}                            
.blocles4images {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.divlapalettedugout, .divlanoteenchantee, .divalafrançaise, .divLedelicedessens {
    background: white;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
    background: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.imagelapalettedugout, .imagelanoteenchantee, .imagealafrançaise, .imageLedelicedessens {
    width: 100%;
    height: 231px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.detailiconecoeur {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: var(--margintextecarte-margin);
}
#iconecoeur {
    cursor: pointer;
    color: black transparent;
    transition: all 100ms;
}
#iconecoeur:active {
    background: linear-gradient(to bottom left, #9356dc, #ff79da);
    transform: scale(2);
    background-clip: text;
    -webkit-background-clip: text;
}
.divnouveau {
    position: relative;
}
.nouveau {
    background: var(--colorvertclair-color);
    color: var(--colorvertfoncé-color);
    text-align: center;
    font-weight: bold;
    background-color: var(--colorvertclair-color);
    color: var(--colorvertfoncé-color);
    display: block;
    text-align: center;
    right: 20px;
    top: 20px;
    position: absolute;
    height: 25px;
    width: 90px;
}
/*FOOTER*/
.blocfooter0 {
    display: none;
}
.blocfooter {
    background: #353535;
    padding-top: 1px;
    width: 100%;
    height: 170px;
}
.divfooter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 150px;
    margin: auto;
}
.texteProposerunrestaurant {
    margin-left: 18px;
}
.texteDevenirpartenaire {
    margin-left: 12px;
}
.iconeetProposerunrestaurant {
  display: flex;
}
.iconeetDevinirpartenaire {
 display: flex;   
}
footer p  {
    color: white;
    margin: var(--margin0-margin);
}
footer i, .titredufooter {
    color: white;
    font-family: var(--fontfamillyohmyfood-font-family);
}   
                            /*MOBILE LA PALETTE DU GOUT
                            HEADER*/

.blocflechedegaucheretourettitre1 {
    display: flex;
    align-items: center;
    height: 50px;
}
.divflechedegauche {
    display: flex;
    justify-content: center;
    width: 20%;
}
#flechedegaucheretour1 {
    color: black;
}
#flechedegaucheretour1:hover {
    color: var(--colorviolet-color);
}
.divtitreohmyfood {
    display: flex;
    justify-content: center;
    width: 60%;
}
.titreohmyfoodheader1 {
    display: flex;
    margin: 0;
}                        
.imageprincipale1 {
    width: 100%;
    height: 275px;
    object-fit: cover;
}
/*RESTAURANTS*/

.sectiontoutleblocrestaurants1 {
    background: #F7F7F7;
    border-radius: 30px 30px 0 0;
    width: 100%;
    position: relative;
    bottom: 60px;
}
.bloctoutleblocrestaurants1 {
    width: 90%;
    margin: auto;
}
.divtitrerestaurants1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97%;
}
.titrerestaurant1 {
    font-size: 19px;
    font-family: var(--fontfamillyohmyfood-font-family);
}
#coeurlapalettedugout1 {
    font-size: 19px;
}
#coeurlapalettedugout1:active {
    color: var(--colorviolet-color);
}
.blocles3entrees1, .blocles3plats1, .blocles3desserts1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 230px;
}
.blocles4entrees1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
}
.entrees1, .PLATS1, .DESSERTS1 {
    border-bottom: 3px solid var(--colorvertclair-color);
    width: 10%;
    padding-bottom: 5px;
}
.diventrees1, .divplats1, .divdesserts1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15.0431px;
    height: 50px;
}
.detailentrees1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    transform-origin: right;
}
.divCommander1 {
   display: flex;
   justify-content: center;
   background: #F7F7F7;
}
.Commander1 {
    background: var(--colorbouttoncommander-background);
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 35%;
    margin: 20px 0 30px 0;
    cursor: pointer;
    border: var(--colorbouttoncommander-background);
}
.Commander1:hover {
    background: var(--colorhovercommander-background);
    box-shadow: var(--boxshadowboutton-box-shadow);
}
/*FOOTER*/
.blocfooter1 {
    background: #353535;
    padding-top: 1px;
    width: 100%;
    height: 170px;
}
.divfooter1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: 150px;
    margin: auto;
}
.titredufooter1 {
    color: white;
    font-family: var(--fontfamillyohmyfood-font-family);
}   
.texteProposerunrestaurant1 {
    margin-left: 18px;
}
.texteDevenirpartenaire1 {
    margin-left: 10px;
}
.iconeetProposerunrestaurant1 {
    display: flex;
}
.iconeDevinirpartenaire1 {
    display: flex;   
}
                                        /*TABLETTE*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
/*FONCTIONNEMENT*/
.bloctoutleblocfonctionnement {
    width: 40%;
    margin-left: 40%;
}
/*RESTAURANTS*/
.sectiontitrerestaurants {
    height: 900px;
}
.blocrestaurantsentreeplatsdesserts {
    width: 100%;
}
.divtitreRestaurants {
    display: flex;
    justify-content: center;
}
.blocpalettenote, .blocfrancaisedelice {
    display: flex;
    justify-content: space-around;
}
.imagerestaurant {
    width: 40%;
}
}                         
                                /*VERSION DESKTOP
                                    HEADER*/
@media screen and (min-width: 1024px) {
body {
    margin: var(--margin0-margin);
}
div p {
    margin: var(--margin0-margin);
}
h1, h2, h3, h4, h5, h6 {
    margin: var(--margin0-margin);
}
/*HEADER*/
.blocflechedegaucheretourettitre1 {
    display: flex;
}
.diviconeparisbelleville {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EAEAEA;
    height: 50px;
    background: linear-gradient(180deg, rgb(147, 147, 147) 0%, #e3e1e1 20%);
}
.parisbelleville {
    margin-left: 10px;
}
/*Réservez le menu qui vous convient*/
.blocbackgroundh2 {
    display: flex;
    justify-content: space-around;
    background: #D2D2D2;
}
.divbackgroundh2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.titreh2 br {
    display: none;
}
.textesousleh2 br {
    display: none;
}
.divExplorernosrestaurants {
    display: flex;
    justify-content: center;
    margin: 0;
}

.Explorernosrestaurants {
    display: flex;
    justify-content: center;
    background: var(--colorbouttoncommander-background);
    padding: 15px;
    border-radius: 25px;
    border: var(--colorviolet-color);
    cursor: pointer;
    color: white;
}
/*FONCTIONNEMENT*/
.sectiontoutleblocfonctionnement {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    background: white;
}
.bloctoutleblocfonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
}
.blocles3choixmenus {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
}
.divChoississez, .divComposez, .divDegustez {
    display: flex;
    align-items: center;
    width: 30%;
    height: 50px;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    cursor: pointer;
}
.divChoississez:hover, .divComposez:hover, .divDegustez:hover {
    background: #F5EDFF;
}
.divnumero {
    width: 8%;
    background: var(--colorviolet-color);
}
/*RESTAURANTS*/
.sectiontitrerestaurants {
    background: #D2D2D2;
    height: 500px;
}
.blocrestaurantsentreeplatsdesserts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
}
.divtitreRestaurants {
    height: 50px;
}
.blocles4images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.blocpalettenote, .blocfrancaisedelice {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.imagerestaurant {
    background: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 45%;
    height: 300px;
}
.imagelapalettedugout, .imagelanoteenchantee, .imagealafrançaise, .imageLedelicedessens {
    width: 100%;
    height: 231px;
    object-fit: cover;
}
.detailiconecoeur {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
/*FOOTER*/
.blocfooter {
    display: none;
}
.blocfooter0 {
    display: flex;
    background: #353535;
    padding-top: 1px;
    width: 100%;
    height: 80px;
}
.divfooter0 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}
.texteProposerunrestaurant0 {
    margin-left: 18px;
}
.texteDevenirpartenaire0 {
    margin-left: 12px;
}
.iconeetProposerunrestaurant0 {
  display: flex;
}
.iconeetDevinirpartenaire0 {
 display: flex;
}
footer p  {
    color: white;
    margin: var(--margin0-margin);
}
footer i, .titredufooter0 {
    color: white;
    font-family: var(--fontfamillyohmyfood-font-family);
}   
                                    /*VERSION DESKTOP-2 LA PALETTE DU GOUT*/
/*HEADER*/
a {
    text-decoration: none;
}
.blocflechedegaucheretourettitre1 {
    display: flex;
    align-items: center;
    height: 50px;
}
.divflechedegauche {
    display: flex;
    justify-content: center;
    width: 20%;
}
#flechedegaucheretour1 {
    color: black;
}
#flechedegaucheretour1:hover {
    color: var(--colorviolet-color);
}
.divtitreohmyfood {
    display: flex;
    justify-content: center;
    width: 60%;
}
.titreohmyfoodheader1 {
    display: flex;
    margin: 0;
}
.imageprincipale1 {
    height: 470px;
}
/*RESTAURANTS*/
.sectiontoutleblocrestaurants1 {
    background: #D2D2D2;
    border-radius: 0;
}
.blockcolorsection1 {
    background: #F7F7F7;
    position: relative;
    bottom: 60px;
    width: 70%;
    margin: auto;
    border-radius: 30px 30px 0 0;
}
.bloctoutleblocrestaurants1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #F7F7F7;
    width: 50%;
    height: 800px;
    margin: auto;
}
.divtitrerestaurants1 {
    display: flex;
    align-items: center;
    height: 80px;
}

.blocles3entrees1, .blocles3plats1, .blocles3desserts1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 220px;
}
.entrees1, .PLATS1, .DESSERTS1 {
    border-bottom: 3px solid #99E2D0;
    width: 8%;
}
.diventrees1, .divplats1, .divdesserts1 {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15.0431px;
}
.detailentrees1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 60px;
    margin: auto;
}
.divCommander1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.Commander1 {
    background: var(--colorbouttoncommander-background);
    color: white;
    width: 20%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
    border: var(--colorbouttoncommander-background);
    padding: 10px;
}
/*FOOTER*/
.blocfooter1 {
    display: none;
}
.divfooter1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
}
.iconeetProposerunrestaurant1, .iconeDevinirpartenaire1 {
    display: flex;
    align-items: center;
}
}
 