:root {
    --colorviolet-color: #9356DC;
    --colorbleufoncé-color: #003A68;
    --colorbleuclair-color: #89C8FA;
    --colorvertfoncé-color: #008766;
    --colorvertclair-color: #99E2D0;
    --colorgrey2-color: #EAEAEA;
    --colorboutton-background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    --colorbouttoncommander-background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    --margin0-margin: 0;
    --margintextecarte-margin: 10px 0 10px 10px;
}
@media screen and (max-width: 412px) {
body {
    margin: var(--margin0-margin);
    font-family: 'Roboto', sans-serif;
}
                                        /*HEADER*/
div p {
    margin: var(--margin0-margin);
}
h1, h2, h3, h4, h5, h6 {
    margin: var(--margin0-margin);
}
h1 {
    display: flex;
    justify-content: center;
}
.titreohmyfood {
    display: flex;
    justify-content: center;
}
.diviconeparisbelleville {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--colorgrey2-color);
    padding: 10px;
    height: 40px;
}
.parisbelleville {
    margin: 0 0 0 15px;
}
                    /*Réservez le menu qui vous convient*/


.blocbackgroundh2 {
    background: #D2D2D2;
    width: 100%;
    height: 260px;
}
.divbackgroundh2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 230px;
    text-align: center;
}
.Explorernosrestaurants {
    color: white;
    text-align: center;
    background: var(--colorboutton-background);
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
}
                                /*FONCTIONNEMENT*/
.fonctionnement {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-top: 20px;
}
.blocles3choixmenus {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    
}
.divChoississezunrestaurant {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F7F7F7;
    width: 65%;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.divChoississezunrestaurant:hover, .divComposezvotremenu:hover, .divDegustezaurestaurant:hover {
    background: #F5EDFF;
    cursor: pointer;
}
.Choississezunrestaurant {
    margin: var(--margin0-margin);
}
.numero1, .numero2, .numero3 {
    margin: var(--margin0-margin);
    background: var(--colorviolet-color);
    border-radius: 100px;
    width: 8%;
    text-align: center;
    color: white;}
.divComposezvotremenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 49%;
    background: #F7F7F7;
    width: 62%;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.Composezvotremenu {
    margin: var(--margin0-margin);
}
.divDegustezaurestaurant {
    display: flex;
    justify-content: space-around;
    align-items: center;
     width: 49%;
     background: #F7F7F7;
     width: 62%;
     height: 40px;
     border-radius: 20px;
     box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.Degustezaurestaurant {
    margin: var(--margin0-margin);
}
                                    /*RESTAURANTS*/

.blocettitrerestaurants {
    background: #D2D2D2;
}                                    
.titreRestaurants {
    display: flex;
    justify-content: center;
    width: 50%;
    padding-top: 15px;
}
.blocles4images {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divlapalettedugout, .divlanoteenchantee, .divalafrançaise, .divLedelicedessens {
    background: white;
    border-radius: 20px;
    margin-bottom: 20px;
}
.divLedelicedessens {
    margin-bottom: 30px;
}
.imagelapalettedugout, .imagelanoteenchantee, .imagealafrançaise, .imageLedelicedessens {
    width: 340px;
    height: 231px;
    border-radius: 20px 20px 0 0;
}
.diviconecoeur1, .diviconecoeur2, .diviconecoeur3, .diviconecoeur4 {
   display: flex;
   justify-content: space-between;
   margin: var(--margintextecarte-margin);

}
#iconecoeur {
    width: 10%;
    margin-top: 10px;
}
#iconecoeur:hover {
    color: var(--colorviolet-color);
    cursor: pointer;
}

                                /*FOOTER*/
.blocfooter {
    background: #353535;
    padding-top: 1px;
    width: 100%;
    height: 170px;
}
.divfooter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: 150px;
    margin: auto;
}
.texteProposerunrestaurant, .texteDevenirpartenaire {
    margin-left: 10px;
}
.iconeetProposerunrestaurant {
  display: flex;
}
.iconeDevinirpartenaire {
 display: flex;   
}
footer p  {
    color: white;
    margin: var(--margin0-margin);
}
footer i, .imagedufooter {
    color: white;
}   



                        /*OHMYFOOD-1*/
                        /*HEADER*/

.blocflechedegaucheretourettitre-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}                        
.titreohmyfoodheader-1 {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 64%;
}
#flechedegaucheretour-1 {
    color: black;
}
#flechedegaucheretour-1:hover {
    color: var(--colorviolet-color);
}
.imageLapalettedugout-1 {
    width: 100%;
    height: 275px;
}
                        /*RESTAURANTS*/

.blocLapalettedugout-1 {
    background: #F7F7F7;
    border-radius: 30px 30px 0 0;
    position: relative;
}
.divlapalettedugout-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding-top: 10px;
}
#coeurlapalettedugout-1:active {
    color: var(--colorviolet-color);
}
.entrees-1, .PLATS-1, .DESSERTS-1 {
    border-bottom: 3px solid var(--colorvertclair-color);
    width: 10%;
    padding-bottom: 5px;
}
.blocles3entrees-1, .blocles3plats-1, .blocles3desserts-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 230px;
}
.diventrees-1 {
    background: #FFFFFF;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15.0431px;
    width: 90%;
    margin: auto;
}
.divplats-1 {
    background: #FFFFFF;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15.0431px;
}
.divdesserts-1 {
    background: #FFFFFF;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15.0431px;
}
.divCommander-1 {
   display: flex;
   justify-content: center;
}
.Commander-1 {
    background: var(--colorviolet-color);
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 50%;

}

                      /*FOOTER*/
.blocfooter-1 {
    background: #353535;
    height: 180px;
    padding-top: 1px;
}
.divfooter-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;

}         
                                    /*OHMYFOOD-1*/
                                    /*HEADER*/

.blocflechedegaucheretourettitre-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 10px 0 10px 0;
}
.imageledelicedessens-2 {
    width: 100%;
    height: 275px;
}

}